@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
:root {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
article{
  color: #4d4d4c;

  ;
}
#title-text--video{
  text-shadow: black 3px 3px;
}
.title-video{
  width: 100vw;
  font-family: 'Permanent Marker', cursive;
}

#historia-title{
  font-family: 'Permanent Marker', cursive;
}
#historia-title > span{
  margin-right: 4px;
  font-size: 23px;
}
.historia-comuna-button{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  width: 150px;
}
.hr-separacion{
  height:2px;
  border-width:0;
  color: #f6a700;
  background-color:#f6a700;
  width: 30%;
  margin: 10px auto;
}

#historia{
  background-color: #ebe6ea;
}
#historia-continue{
  background-color: #ebe6ea;
}